<!-- Hero unit -->
<div class="hero__half page__header">
  <div class="hero__overlay hero__overlay--gradient"></div>
  <div class="hero__mask"></div>
  <div class="page__header__inner">
    <div class="container">
      <div class="page__header__content">
        <div class="page__header__content__inner" id='navConverter'>
          <h1 class="page__header__title">Programming Tutorials</h1>
          <p class="page__header__text"><strong>Easy to follow and intuitive articles. Get in touch if there is any code aspect you wish me to write on</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="page">
  <div class="container">
  </div>
</div>
